<table>
    <tr class="center" *ngFor="let job of all_jobs$;">
        <td style="max-width: 9%;" >
            <span><img [src]="job['companyLogo']" class="icon"/></span>
        </td>
        <td style="min-width: 81%;max-width: 81%;" >
            <div>
               <a style="color: black;" [routerLink]="['/jobs/'+job.id]"><strong>{{ job['title']}}</strong></a> 
            </div>
            <div class="line-height">
                <small><span> Company: {{ job.companyName }} </span> &ensp;&nbsp;&nbsp;  <span> Reference: {{ job.reference }}</span></small>
            </div>
        </td>
        <td style="min-width: 10%;">
            <div><span class="icon-star" [ngClass]="{'selected': fav_dictionary[job.id]}" (click)="addToFavorite(job.id)"></span></div>
        </td>
    </tr>
</table>